<div class="item">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ivanov_290x400 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8295879566072893"
     data-ad-slot="1377810961"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
