<ul>
    <li><a href="https://www.facebook.com/pages/Ivanov-vibe-band/464209893641669?ref=hl" class="follow-button-fb" target="_blank"></a></li>
    <li><a href="http://vk.com/club12854195" class="follow-button-vk" target="_blank"></a></li>
</ul>
