<div class="item">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups", { mode: 0, width: "290", height: "400", color1: '2E2836', color2: 'E8D9B1', color3: 'E8D9B1' }, 12854195);
    </script>
</div>
<div class="item">
   <fb:like-box href="https://www.facebook.com/pages/Ivanov-vibe-band/464209893641669?ref=hl" width="290" colorscheme="dark" show_faces="true" header="false" stream="false" show_border="true"></fb:like-box>
</div>